.top-config-panel {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--gray);
  display: flex;
  align-items: center;
  padding: 0 82px;
}

.left-config-panel {
  height: 100%;
  width: 70px;
  background-color: white;
  padding: 24px 10px;
  border-right: 2px solid var(--gray);
}
.left-config-panel .left-panel-text {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 5px;
}
.left-config-panel .icon-button {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--round-edges);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid var(--gray);
}
.left-config-panel .icon-button:hover {
  background-color: var(--gray-light);
}
.left-config-panel .icon-button .icon-button-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.left-config-panel .icon-button input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
.left-config-panel .icon-button input:checked ~ i, .left-config-panel .icon-button input.partially-checked ~ i {
  color: #fff;
}
.left-config-panel .icon-button input:checked ~ .icon-button-fill, .left-config-panel .icon-button input.partially-checked ~ .icon-button-fill {
  background-color: var(--blue);
}
.left-config-panel .icon-button input.partially-checked ~ .icon-button-fill {
  background-color: var(--blue-dark);
}
.left-config-panel .icon-button i {
  z-index: 2;
}

.right-config-panel {
  width: 300px;
  background-color: #fff;
  padding: 12px 0 24px;
  overflow: auto;
  border-left: 2px solid var(--gray);
  height: 100vh;
}
.right-config-panel label {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
.right-config-panel label input {
  border: 1px solid var(--gray);
  height: 50px;
  outline: none;
  border-radius: var(--round-edges);
  margin-top: 12px;
  padding: 0 12px;
}
.right-config-panel .type-selection {
  padding: 15px 20px;
}
.right-config-panel .type-selection label {
  height: 50px;
  width: 100%;
  position: relative;
}
.right-config-panel .type-selection > span {
  margin-bottom: 12px;
  display: block;
}
.right-config-panel .type-selection .type-selection-buttons.type-selection-buttons-aside {
  display: flex;
  flex-direction: row;
}
.right-config-panel .type-selection .type-selection-buttons {
  overflow: hidden;
  border-radius: var(--round-edges);
}
.right-config-panel .type-selection .type-selection-buttons input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
.right-config-panel .type-selection .type-selection-buttons input ~ div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-config-panel .type-selection .type-selection-buttons input:checked ~ div {
  background-color: rgb(73, 121, 255);
  color: #fff;
}
.right-config-panel .type-selection .type-selection-buttons input:not(:checked).partially-checked ~ div {
  background-color: rgba(0, 68, 255, 0.555);
  color: #fff;
}
.right-config-panel #action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}
.right-config-panel #action-buttons button {
  background-color: rgb(73, 121, 255);
  border: none;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
.right-config-panel #action-buttons button:hover {
  background-color: rgb(58, 93, 192);
}
.right-config-panel #action-buttons button:disabled {
  opacity: 0.3;
  cursor: default;
}
.right-config-panel #action-buttons button#clear-path-button {
  background-color: rgb(235, 144, 41);
}
.right-config-panel #action-buttons button#clear-path-button:hover {
  background-color: rgb(170, 105, 30);
}
.right-config-panel #action-buttons button#clear-all-button {
  background-color: rgb(235, 41, 41);
}
.right-config-panel #action-buttons button#clear-all-button:hover {
  background-color: rgb(170, 30, 30);
}

custom-select {
  position: relative;
}
custom-select custom-select-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  border-radius: var(--round-edges);
  border: 1px solid var(--gray);
}
custom-select custom-select-dropdown.pre-open {
  transform: translateY(0) scaleY(1);
  animation: dropdown-animation 0.2s;
}
custom-select custom-select-dropdown.pre-close {
  transform: translateY(-100%) scaleY(0.1);
  animation: dropdown-animation 0.2s reverse;
}
custom-select custom-select-dropdown option {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  background-color: #fff;
}
custom-select custom-select-dropdown option:hover {
  background-color: var(--gray-light);
}
custom-select custom-select-dropdown option:not(:last-of-type) {
  border-bottom: 1px solid var(--gray);
}
custom-select .custom-select-container {
  z-index: 2;
  position: relative;
  background-color: #fff;
  display: flex;
  height: 50px;
  border: 1px solid var(--gray);
  border-radius: var(--round-edges);
  cursor: pointer;
  align-items: center;
  padding: 0 24px;
  outline: none;
}
custom-select .custom-select-container .custom-select-label, custom-select .custom-select-container i {
  font-weight: 500;
  color: var(--gray-dark);
  font-size: 14px;
}
custom-select .custom-select-container .custom-select-label {
  margin-right: 6px;
}

@keyframes dropdown-animation {
  from {
    transform: translateY(-100%) scaleY(0.1);
  }
  to {
    transform: translateY(0) scaleY(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --gray: rgba(0, 0, 0, 0.1);
  --gray-light: rgba(0, 0, 0, 0.05);
  --gray-dark: rgba(0, 0, 0, 0.5);
  --blue: rgb(73, 121, 255);
  --blue-dark: rgba(0, 68, 255, 0.555);
  --round-edges: 6px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

canvas {
  width: calc(100% - 300px - 80px);
  height: calc(100% - 60px);
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/*# sourceMappingURL=main.css.map */
