* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
canvas {
    height: 100%;
    width: 100%;
}

.algorithm-config-panel {
    position: fixed;
    right: 20px;
    top: 20px;
    height: calc(100% - 40px);
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0px 20px 5px rgba(72, 130, 255, 0.5);
    padding-top: 12px;
    overflow: auto;
}
.algorithm-config-panel label {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.algorithm-config-panel .type-selection {
    padding: 15px 20px;
}
.algorithm-config-panel .type-selection label {
    height: 50px;
    width: 100%;
    position: relative;
}
.algorithm-config-panel .type-selection > span {
    margin-bottom: 12px;
    display: block;
}
.algorithm-config-panel .type-selection .type-selection-buttons.type-selection-buttons-aside {
    display: flex;
    flex-direction: row;
}

.algorithm-config-panel .type-selection .type-selection-buttons {
    overflow: hidden;
    border-radius: 12px;
}
.algorithm-config-panel .type-selection-buttons input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.algorithm-config-panel .type-selection-buttons input ~ div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
.algorithm-config-panel .type-selection-buttons input:checked ~ div {
    background-color: rgb(73, 121, 255);
    color: #fff;
}

#submit-button button {
    background-color: rgb(73, 121, 255);
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
#submit-button button:hover {
    background-color: rgb(58, 93, 192);

}


#submit-button {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 150px);
    z-index: 10;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background-color: white;
    border-top: 1px solid rgb(209, 209, 209);
    box-shadow: 0 -5px 10px 10px rgba(209, 209, 209, 0.5);
    border-radius: 12px;
}
