* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --gray: rgba(0, 0, 0, 0.1);
    --gray-light: rgba(0, 0, 0, 0.05);
    --blue: rgb(73, 121, 255);
    --blue-dark: rgba(0, 68, 255, 0.555);
    --round-edges: 6px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
/* .top-config-panel {
    width: 100%;
    height: 60px;
    background-color: red;
} */
.left-config-panel {
    height: 100%;
    width: 70px;
    background-color: white;
    padding: 24px 10px;
    border-right: 2px solid var(--gray);
}
.left-config-panel .icon-button {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--round-edges);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid var(--gray);

}
.left-config-panel .icon-button:hover {
    background-color: var(--gray-light);
}
.left-config-panel .icon-button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}
.left-config-panel .icon-button i {
    z-index: 2;
}
.left-config-panel .icon-button input:checked ~ i,
.left-config-panel .icon-button input.partially-checked ~ i  {
    color: #fff;
}
.left-config-panel .icon-button .icon-button-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.left-config-panel .icon-button input:checked ~ .icon-button-fill {
    background-color: var(--blue);
}
.left-config-panel .icon-button input.partially-checked ~ .icon-button-fill {
    background-color: var(--blue-dark);
}
.left-panel-text {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 12px;
}


canvas {
    width: calc(100% - 300px - 80px);
    height: calc(100% - 60px);
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.algorithm-config-panel {
    width: 300px;
    background-color: #fff;
    padding-top: 12px;
    overflow: auto;
    border-left: 2px solid var(--gray);
}
.algorithm-config-panel label {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.algorithm-config-panel label input {
    border: 1px solid var(--gray);
    height: 50px;
    outline: none;
    border-radius: var(--round-edges);
    margin-top: 12px;
    padding: 0 12px;
}
.algorithm-config-panel .type-selection {
    padding: 15px 20px;
}
.algorithm-config-panel .type-selection label {
    height: 50px;
    width: 100%;
    position: relative;
}
.algorithm-config-panel .type-selection > span {
    margin-bottom: 12px;
    display: block;
}
.algorithm-config-panel .type-selection .type-selection-buttons.type-selection-buttons-aside {
    display: flex;
    flex-direction: row;
}

.algorithm-config-panel .type-selection .type-selection-buttons {
    overflow: hidden;
    border-radius: var(--round-edges);
}
.algorithm-config-panel .type-selection-buttons input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}
.algorithm-config-panel .type-selection-buttons input ~ div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
.algorithm-config-panel .type-selection-buttons input:checked ~ div {
    background-color: rgb(73, 121, 255);
    color: #fff;
}
.algorithm-config-panel .type-selection-buttons input:not(:checked).partially-checked ~ div {
    background-color: rgba(0, 68, 255, 0.555);
    color: #fff;
}


#action-buttons button {
    background-color: rgb(73, 121, 255);
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;

}
#action-buttons button:hover {
    background-color: rgb(58, 93, 192);

}#action-buttons button:disabled {
    opacity: 0.3;
    cursor: default;
}
#action-buttons button#clear-path-button {
    background-color: rgb(235, 144, 41);
}
#action-buttons button#clear-path-button:hover {
    background-color: rgb(170, 105, 30);

}
#action-buttons button#clear-all-button {
    background-color: rgb(235, 41, 41);
}
#action-buttons button#clear-all-button:hover {
    background-color: rgb(185, 58, 58);

}

#action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px ;
}
