
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <link href="/client/static/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/client/static/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/client/static/fontawesome/css/solid.css" rel="stylesheet">
    
    <title>Algorithms Visualizer</title>
    <link rel="stylesheet" href="/client/static/style/main.css">
</head>
<body>
    <div class="top-config-panel">
    </div>
    <div class="left-config-panel">
        <div class="left-panel-text">Brush</div>
        <div class="icon-button">
            <input type="radio" checked name="brush-type" value="obstacle">
            <div class="icon-button-fill"></div>
            <i class="fa-solid fa-road-barrier"></i>
        </div>
        <div class="icon-button">
            <input type="radio" checked name="brush-type" value="start">
            <div class="icon-button-fill"></div>
            <i class="fa-regular fa-flag"></i>
        </div>
        <div class="icon-button">
            <input type="radio" checked name="brush-type" value="finish">
            <div class="icon-button-fill"></div>
            <i class="fa-solid fa-flag-checkered"></i>
        </div>
        <div class="icon-button">
            <input type="radio" checked name="brush-type" value="eraser">
            <div class="icon-button-fill"></div>
            <i class="fa-solid fa-eraser"></i>
        </div>
    </div>
    <canvas oncontextmenu="return false;"></canvas>
    <div class="algorithm-config-panel">
        <label>
            <span>Grid Size: <span id="gridcount-display"></span></span>
            <input name="gridcount" type="range" min="4" max="100" value="10" step="1" >
        </label>
        <div class="type-selection">
            <span>Algorithm</span>
            <div class="type-selection-buttons">
                <label>
                    <input type="radio" checked name="algorithm-choice" value="dijkstra">
                    <div>Dijkstra's</div>
                </label>
                <label>
                    <input type="radio" name="algorithm-choice" value="a-star">
                    <div>A*</div>
                </label>
            </div>
        </div>
        <div class="type-selection">
            <span>Diagonals</span>
            <div class="type-selection-buttons type-selection-buttons-aside">
                <label>
                    <input type="radio" name="diagonals-enabled" value="no">
                    <div>Off</div>
                </label>
                <label>
                    <input type="radio" checked name="diagonals-enabled" value="yes">
                    <div>On</div>
                </label>
            </div>
        </div>
        <label>
            <span>FPS:</span>
            <input name="fps" type="number" min="1" value="10">
        </label>
        <div id="action-buttons">
            <button id="submit-button">Find Path!</button>
            <button id="clear-path-button" disabled>Clear Path</button>
            <button id="clear-all-button">Clear All</button>
        </div>
    </div>
    <script src="/client/static/scripts/main.js" type="module"></script>
</body>
</html>